mixin conditionalFooter()
  <!--[if lte IE 9]>
  <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
  <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.matchmedia.addListener.min.js"></script>
  <script src="//cdn.jsdelivr.net/placeholders/3.0.2/placeholders.min.js"></script>
  <![endif]-->
