mixin conditionalHead()
  <!--[if IE 8]>
  link(rel="stylesheet", media="all", href="css/ie8.css")
  <![endif]-->

  <!--[if IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.0.0/es5-shim.min.js"></script>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  //[if gte IE 9]>
    <style type="text/css">
      .gradient {
        filter: none;
      }
    </style>
    <![endif]
