mixin contactForm()
  #modalContact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title Trimite un mesaj
        .modal-body
          form
            .form-group
              label(for='nameInput') Nume
              input#nameInput.form-control(type='text', placeholder='Introduceti Numele', required)
            .form-group
              label(for='emailInput') Email
              input#emailInput.form-control(type='email', placeholder='Introduceti Email', required)
            .form-group
              label(for='selectType') Alegeti tipul de mesaj
              select#selectType.form-control
                option -- Alegeti tipul de mai jos --
                option Email
                option Mesaj
            .checkbox
              label
                input(type='checkbox')
                |  Vreau sa primesc si eu o copie a emailului
            .form-group
              label.control-label(for='message-text') Mesaj:
              textarea#message-text.form-control
            .form-group
              button.btn.btn-default(type='button', data-dismiss='modal') Inchide
              button.btn.btn-primary(type='submit') Trimite Mesaj
