mixin footer()
  footer.footer-container
    .container
      .col-md-4
        h2.footer-title Lorem ipsum dolor sit amet
        ul.list-unstyled
          li
            a.has-tip.footer-item(href="#" title="Tooltip 1") Sed justo dolor
          li
            a.has-tip.footer-item(href="#" title="Tooltip 2") varius id iaculis
          li
            a.has-tip.footer-item(href="#" title="Tooltip 3") commodo, volutpat
          li
            a.has-tip.footer-item(href="#" title="Tooltip 4") et arcu. Cras tempus,
          li
            a.has-tip.footer-item(href="#" title="Tooltip 5") neque eget ullam
          li
            a.has-tip.footer-item(href="#" title="Tooltip 6") corper lobortis, felis
          li
            a.has-tip.footer-item(href="#" title="Tooltip 6") ibero placerat felis, sed
          li
            a.has-tip.footer-item(href="#" title="Tooltip 7") volutpat ligula elit ut
          li
            a.has-tip.footer-item(href="#" title="Tooltip 8") odio. Sed ac eleifend purus.
          li
            a.has-tip.footer-item(href="#" title="Tooltip 9") Mauris eros lectus, cursus
      .col-md-4
        h2.footer-title Lorem ipsum dolor sit amet
        ul.list-unstyled
          li
            a.footer-item(href="#" title="Tooltip 1") Sed justo dolor
          li
            a.footer-item(href="#" title="Tooltip 2") varius id iaculis
          li
            a.footer-item(href="#" title="Tooltip 3") commodo, volutpat
          li
            a.footer-item(href="#" title="Tooltip 4") et arcu. Cras tempus,
          li
            a.footer-item(href="#" title="Tooltip 5") neque eget ullam
          li
            a.footer-item(href="#" title="Tooltip 6") corper lobortis, felis
          li
            a.footer-item(href="#" title="Tooltip 6") ibero placerat felis, sed
          li
            a.footer-item(href="#" title="Tooltip 7") volutpat ligula elit ut
          li
            a.footer-item(href="#" title="Tooltip 8") odio. Sed ac eleifend purus.
          li
            a.footer-item(href="#" title="Tooltip 9") Mauris eros lectus, cursus
      .col-md-4
        h2.footer-title Lorem ipsum dolor sit amet
        ul.list-unstyled
          li
            a.footer-item(href="#" title="Tooltip 1") Sed justo dolor
          li
            a.footer-item(href="#" title="Tooltip 2") varius id iaculis
          li
            a.footer-item(href="#" title="Tooltip 3") commodo, volutpat
          li
            a.footer-item(href="#" title="Tooltip 4") et arcu. Cras tempus,
          li
            a.footer-item(href="#" title="Tooltip 5") neque eget ullam
          li
            a.footer-item(href="#" title="Tooltip 6") corper lobortis, felis
          li
            a.footer-item(href="#" title="Tooltip 6") ibero placerat felis, sed
          li
            a.footer-item(href="#" title="Tooltip 7") volutpat ligula elit ut
          li
            a.footer-item(href="#" title="Tooltip 8") odio. Sed ac eleifend purus.
          li
            a.footer-item(href="#" title="Tooltip 9") Mauris eros lectus, cursus
