mixin header()

  .bg-danger.center-block.text-danger.js-enable
    | Please Enable Javascipt in order to have full experience
  header.navbar.navbar-default.header
    .container

      a.logo(href="./" title="Asociatia spoliatilor din Romania")

      .info-placeholder.clearfix
        .pull-left
          span.header-section-subtitle .contacteaza-ne
          ul#js-main-menu-waypoint.list-inline
            li
              a.info-item.info-item--contact.info-item--contact--phone(href="#" title="Numar de telefon" data-toggle="modal" data-target="#modalContact")
            li
              a.info-item.info-item--contact.info-item--contact--email(href="#" title="Trimite Email" data-toggle="modal" data-target="#modalContact")
            li
              a.info-item.info-item--contact.info-item--contact--message(href="#" title="Trimite un Mesaj" data-toggle="modal" data-target="#modalContact")

        .pull-right
          span.header-section-subtitle .socializeaza cu noi
          ul.list-inline
            li
              a.info-item.info-item--social.info-item--social--delicious(href="#" title="Viziteaza contul nostru de Delicious")
            li
              a.info-item.info-item--social.info-item--social--facebook(href="#" title="Viziteaza contul nostru de Facebook")
            li
              a.info-item.info-item--social.info-item--social--flickr(href="#" title="Viziteaza contul nostru de Flick")
            li
              a.info-item.info-item--social.info-item--social--twitter(href="#" title="Viziteaza contul nostru de Twitter")
            li
              a.info-item.info-item--social.info-item--social--wordpress(href="#" title="Viziteaza contul nostru de Wordpress")
            li
              a.info-item.info-item--social.info-item--social--rss(href="#" title="Aboneaza-te la RSS")
