mixin mainMenu()
  // Menu Start
  .main-menu-container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    nav#bs-navbar-collapse.collapse.navbar-collapse.collapse(role='navigation')
      ul.nav.navbar-nav
        li.active
          a.menu-item(href='cine-suntem.html') cine suntem?
        li
          a.menu-item(href='ne-ocupam.html') cu ce ne ocupam?
        li
          a.menu-item(href='drepturile-tale.html') care sunt drepturile tale?
        li
          a.menu-item(href='strain.html') esti din strainatate?
        li
          a.menu-item(href='comunitate.html') comunitatea aqeuitas?
  // Menu End
