@import "compass";
@import "../../bower_components/normalize.scss/normalize";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";

$slideshowBg: #d7d7d7;

/*------------------------------------*\
    Header
\*------------------------------------*/

html, body {
  background: #ff8919;
}

.main-content-fixed {
  padding-top: 76px;

  .main-menu-container .nav { margin-top: 0; }
}

.navbar {
  background-color: #fff;
  @include box-shadow(rgba(black, 0.5) 0 0 25px);

  &.header{
    margin-bottom: 0;
  }
}

.info-placeholder {
  font-family: 'EB Garamond', serif;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #6e6e6e;

  .list-inline {
    margin-top: 1.1rem;
  }
}

.info-item {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.info-item--contact {
  background: url('../assets/spriteContact.png') no-repeat;
}

.info-item--contact--phone { background-position: 0 0; }
.info-item--contact--email { background-position: -33px 0; }
.info-item--contact--message { background-position: -70px 0; }

.info-item--social {
  background: url('../assets/socialIconsSprite.png') no-repeat;
}

.info-item--social--delicious {
  background-position: 0 0;
  &:hover { background-position: 0 -24px; }
}
.info-item--social--facebook {
  background-position: -24px 0;
  &:hover { background-position: -24px -24px; }

}
.info-item--social--flickr {
  background-position: -48px 0;
  &:hover { background-position: -48px -24px; }
}
.info-item--social--twitter {
  background-position: -72px 0;
  &:hover { background-position: -72px -24px; }
}
.info-item--social--wordpress {
  background-position: -96px 0;
  &:hover { background-position: -96px -24px; }
}
.info-item--social--rss {
  background-position: -122px 0;
  &:hover { background-position: -122px -24px; }
}

.small-header {
  height: 40px;

  .header-section-subtitle {
    display: none;
  }

  .list-inline {
    margin-top: -7px;
  }

  .logo {
    $logo-width: 250px;
    @include logoSmall($logo-width);
  }
}

.logo {
  $logo-width: 250px;
  @include logoSmall($logo-width, relative);
}


@media (min-width: $screen-sm-min) {
  .logo {
    $logo-width: 252px;
    @include logoSmall($logo-width);
    top: 0;
    height: 115px;
    margin: 0;
    background: url('../assets/logo.png') no-repeat center center #fff;
    @include calc("left", "50% - (" + $logo-width + "/2)");
    @include border-bottom-radius(10px);
    @include box-shadow(-8px 0 white, 8px 0 white, 0 6px 15px -4px black );
    @include single-transition(all, 0.2s, ease-in, 0.2s);
  }
}

/*------------------------------------*\
    Main Menu
\*------------------------------------*/

.main-menu-container {
  margin: 0 -1.5rem;
  min-height: 7.8rem;

  $svg-gradient-shim-threshold: 1 !global;
  @include background-image(linear-gradient(#1e5069 0%, #4b7387 50%, #4b7387 51%, #91a5b4 100%));
  @include animation(fadein 2s);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.navbar-toggle {
  margin-top: 2.2rem;
  border-color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.menu-item {
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 2rem;
  padding-top: 4.3rem !important;
  position: relative;

  &:hover {
    color: white;
    $svg-gradient-shim-threshold: 1 !global;
    @include background-image(linear-gradient(#960505 0%, #d20f0a 100%));
    @include photoshop-inner-shadow(90, 0, 0, 5px, rgba(0, 0, 0, 0.75));
  }

  @media (min-width: $screen-sm-min) {
    // Arrow
    &:hover:after {
      @include calc("top", "100% - 10px");
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(210, 15, 10, 0);
      border-top-color: #d20f0a;
      border-width: 25px;
      margin-left: -25px;
    }
  }
}

/*------------------------------------*\
    Main Content
\*------------------------------------*/

.container--main {
  font-size: 1.2rem;
  background: #ffffff;
  @include box-shadow(rgba(black, 0.5) 0 0 25px);
}

.slideshow {
  margin: 1.5rem 0 0 0;
  padding: 1.5rem;
  background: $slideshowBg;
  height: 30rem;
  @include photoshop-inner-shadow(90, 10px, -80, 20px, rgba(0, 0, 0, 0.75));
}

.accordion {
    width: 100%;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.accordion li {
  position: relative;
  float: left;
  width: 20%;
  overflow: hidden;
  height: 27rem;

  @include single-transition(all, 0.2s, ease-out, 0.15s);

  background-color: #fff;
  border-right: 10px solid $slideshowBg;
}

.slide-container{
    padding:10px;
}

.accordion h3 {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    float: left;
    margin: 0;
    padding: 10px 10px 10px 25px;
    height: 3.6rem;
    width: 29rem;

    /* Decorative CSS */
    font-size: 1.5rem;
    color: #131313;
    text-decoration: none;
    text-transform: uppercase;

    background: #fff;

    /* CSS3 Transform Rotate & Translate */
    white-space: nowrap;

    // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
    //         progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc);  /* IE6,IE7 */
    // -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
    //             "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)"; /* IE8 */

    @include transform(rotate(90.0deg) translate(-48px,0px));
    @include transform-origin(0 100%);
}

.accordion:hover .slide-item {
  width: 4%;
}

.accordion .slide-item:last-of-type {
  border: 0;
}

.accordion .slide-item:hover{
  width: 80%;

  h3 {
    color: #fff;
    background-color: #131313;
  }
}

.slide-content {
  margin-left: 3.5rem;
}

.content__wrapper-out {
  margin-top: 1.5rem;
  $svg-gradient-shim-threshold: 1 !global;
  @include background-image(linear-gradient(#505866 0%, #7c8697 100%));
}

.content__inner {
  font-family: ‘Freehand’, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;

  background-image: url('../assets/contentBG2.png');
  background-position: left top;
  color: #fff;
  margin-bottom: 1.5rem;

  h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
  }
}

.content__inner--fixed {
  min-height: 70rem;
  overflow-y: auto;
}

.jspPane {
  padding-left: 15px !important;
}

// Some Custom Scroll Examples. Overidden by a jQuery plugin which is compatible with more browsers
// .custom-scroll {
//   scrollbar-base-color: #C0C0C0;
//   scrollbar-base-color: #C0C0C0;
//   scrollbar-3dlight-color: #C0C0C0;
//   scrollbar-highlight-color: #C0C0C0;
//   scrollbar-track-color: #EBEBEB;
//   scrollbar-arrow-color: black;
//   scrollbar-shadow-color: #C0C0C0;
//   scrollbar-dark-shadow-color: #C0C0C0;
// }

// ::-webkit-scrollbar { width: 3px; height: 3px;}
// ::-webkit-scrollbar-button {  background-color: #666; }
// ::-webkit-scrollbar-track {  background-color: #999;}
// ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
// ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
// ::-webkit-scrollbar-corner { background-color: #999;}
// ::-webkit-resizer { background-color: #666;}


// @-moz-document url-prefix(http://),url-prefix(https://) {
// scrollbar {
//    -moz-appearance: none !important;
//    background: rgb(0,255,0) !important;
// }
// thumb,scrollbarbutton {
//    -moz-appearance: none !important;
//    background-color: rgb(0,0,255) !important;
// }

// thumb:hover,scrollbarbutton:hover {
//    -moz-appearance: none !important;
//    background-color: rgb(255,0,0) !important;
// }

// scrollbarbutton {
//    display: none !important;
// }

// scrollbar[orient="vertical"] {
//   min-width: 15px !important;
// }
// }


/*------------------------------------*\
    Footer
\*------------------------------------*/

.footer-container {
  margin: 5rem 0;
}

.footer-title {
  font-family: ‘Raleway’, serif;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: -0.032em;
  word-spacing: 0em;
  line-height: 1.22;

  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-item {
  font-family: ‘Freehand’, serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;

  color: #fbd7b5;
  margin-bottom: .8rem;
  display: inline-block;

  &:hover {
    color: #fbd7b5;
  }
}
