//-------------------------------------------------------
// Calculate size mixing percentages with fixed units
//-------------------------------------------------------
@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

@mixin logoSmall($logo-width, $position: absolute) {
  display: block;
  width: $logo-width;
  height: 1.4rem;
  background: url('../assets/logo2.png') no-repeat center center #fff;
  position: $position;
  z-index: 100;
  top: 2rem;
  margin: 0 auto 1rem auto;
  @include border-bottom-radius(0);
  @include box-shadow(0 0 transparent, 0 0 white, 0 0 0 0 transparent );
  @include single-transition(all, 0.2s, ease-in, 0.2s);
}

//--------------------------------
// Photoshop Drop Shadow
//--------------------------------
@mixin photoshop-drop-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false) {
  $angle: (180 - $angle) * pi() / 180; // convert to radians
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);
  $inset: if($inner != false, 'inset', '');

  @include box-shadow($h-shadow $v-shadow $blur $css-spread $color unquote($inset));
}


//--------------------------------
// Photoshop Inner Shadow
//--------------------------------
@mixin photoshop-inner-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  @include photoshop-drop-shadow ($angle, $distance, $spread, $size, $color, true);
}

//--------------------------------
// Photoshop Text Shadow
//--------------------------------
@mixin photoshop-text-shadow ($angle: 0, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  // NOTE: $spread has no effect for text shadows
  $angle: (180 - $angle) * pi() / 180;
  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * $spread/100;
  $blur: ($size - $css-spread);

  @include text-shadow($h-shadow $v-shadow $blur $color);
}