include common/header.jade
include common/main-menu.jade
include common/contact-form.jade
include common/footer.jade
include common/conditional-head.jade
include common/conditional-footer.jade

doctype html
html
  head
    title
    link(rel="stylesheet", media="all", href="css/vendor.css")
    link(rel="stylesheet", media="all", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans|Freehand|Raleway', rel='stylesheet', type='text/css')

    // Conditional Head
    mixin conditionalHead()

  body
    script(async='').

    // Header Start
    mixin header()
    // Header End


    // Content Wrapper Start
    .container.container--main

      mixin mainMenu()

      // Main Content Start
      .slideshow
        //- img(src="assets/accordeonStatic.png", alt="Accordeon placeholder")
        ul.accordion
          li.slide-item
            .slide-container
              h3 Slide one
              .slide-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lobortis massa. Nunc viverra velit leo, sit amet elementum mi. Fusce posuere nunc a mi tempus malesuada. Curabitur facilisis rhoncus eros eget placerat. Aliquam semper mauris sit amet justo tempor nec lacinia magna molestie. Etiam placerat congue dolor vitae adipiscing. Aliquam ac erat lorem, ut iaculis justo. Etiam mattis dignissim gravida. Aliquam nec justo ante, non semper mi. Nulla consectetur interdum massa, vel porta enim vulputate sed. Maecenas elit quam, egestas eget placerat non, fringilla vel eros. Nam vehicula elementum nulla sed consequat. Phasellus eu erat enim. Praesent at magna non massa dapibus scelerisque in eu lorem.
          li.slide-item
            .slide-container
              h3 Slide two
              .slide-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lobortis massa. Nunc viverra velit leo, sit amet elementum mi. Fusce posuere nunc a mi tempus malesuada. Curabitur facilisis rhoncus eros eget placerat. Aliquam semper mauris sit amet justo tempor nec lacinia magna molestie. Etiam placerat congue dolor vitae adipiscing. Aliquam ac erat lorem, ut iaculis justo. Etiam mattis dignissim gravida. Aliquam nec justo ante, non semper mi. Nulla consectetur interdum massa, vel porta enim vulputate sed. Maecenas elit quam, egestas eget placerat non, fringilla vel eros. Nam vehicula elementum nulla sed consequat. Phasellus eu erat enim. Praesent at magna non massa dapibus scelerisque in eu lorem.
          li.slide-item
            .slide-container
              h3 Slide three
              .slide-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lobortis massa. Nunc viverra velit leo, sit amet elementum mi. Fusce posuere nunc a mi tempus malesuada. Curabitur facilisis rhoncus eros eget placerat. Aliquam semper mauris sit amet justo tempor nec lacinia magna molestie. Etiam placerat congue dolor vitae adipiscing. Aliquam ac erat lorem, ut iaculis justo. Etiam mattis dignissim gravida. Aliquam nec justo ante, non semper mi. Nulla consectetur interdum massa, vel porta enim vulputate sed. Maecenas elit quam, egestas eget placerat non, fringilla vel eros. Nam vehicula elementum nulla sed consequat. Phasellus eu erat enim. Praesent at magna non massa dapibus scelerisque in eu lorem.
          li.slide-item
            .slide-container
              h3 Slide four
              .slide-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lobortis massa. Nunc viverra velit leo, sit amet elementum mi. Fusce posuere nunc a mi tempus malesuada. Curabitur facilisis rhoncus eros eget placerat. Aliquam semper mauris sit amet justo tempor nec lacinia magna molestie. Etiam placerat congue dolor vitae adipiscing. Aliquam ac erat lorem, ut iaculis justo. Etiam mattis dignissim gravida. Aliquam nec justo ante, non semper mi. Nulla consectetur interdum massa, vel porta enim vulputate sed. Maecenas elit quam, egestas eget placerat non, fringilla vel eros. Nam vehicula elementum nulla sed consequat. Phasellus eu erat enim. Praesent at magna non massa dapibus scelerisque in eu lorem.
          li.slide-item
            .slide-container
              h3 Slide five
              .slide-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse id lobortis massa. Nunc viverra velit leo, sit amet elementum mi. Fusce posuere nunc a mi tempus malesuada. Curabitur facilisis rhoncus eros eget placerat. Aliquam semper mauris sit amet justo tempor nec lacinia magna molestie. Etiam placerat congue dolor vitae adipiscing. Aliquam ac erat lorem, ut iaculis justo. Etiam mattis dignissim gravida. Aliquam nec justo ante, non semper mi. Nulla consectetur interdum massa, vel porta enim vulputate sed. Maecenas elit quam, egestas eget placerat non, fringilla vel eros. Nam vehicula elementum nulla sed consequat. Phasellus eu erat enim. Praesent at magna non massa dapibus scelerisque in eu lorem.

      .content__wrapper-out
        .content__inner.clearfix
          .col-md-4.custom-scroll.content__inner--fixed
            h2 Lorem ipsum dolor sit amet
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula sodales, egestas lectus in, mattis orci. Quisque eget dictum risus. Nulla maximus eu nunc eget malesuada. Sed in felis cursus diam commodo hendrerit eget et elit. Morbi vestibulum lacinia tristique. Ut non ultricies mauris. Etiam vel arcu venenatis, interdum ex fringilla, dictum diam. Sed ullamcorper commodo sem, quis facilisis lacus vehicula ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum elit quis mauris varius, vel egestas tellus hendrerit. Fusce hendrerit molestie vestibulum. Curabitur fringilla magna non odio condimentum consequat bibendum at elit. Etiam dapibus elit vitae ullamcorper laoreet. Praesent volutpat quam pellentesque purus facilisis efficitur.

              Maecenas erat justo, rhoncus vitae mauris eu, facilisis viverra risus. Curabitur in nisl at velit rutrum auctor. Pellentesque tempor vel nunc ac finibus. Nunc vel lacus eu ipsum faucibus rutrum. Duis commodo ullamcorper orci, a posuere dui bibendum pretium. Proin mauris nibh, sagittis nec lacinia in, rutrum quis ligula. Ut iaculis augue sed enim feugiat, vitae ullamcorper nulla ornare. Nam vitae interdum mauris. In blandit, mauris a condimentum lobortis, ipsum justo suscipit enim, in pellentesque massa tortor nec risus. Curabitur sit amet iaculis nisi, eu scelerisque diam. Etiam elit nibh, hendrerit vitae nulla non, facilisis porttitor enim. Sed ac fermentum quam. Vivamus nec tellus vitae urna lacinia congue.

              Curabitur non ipsum ultrices, accumsan risus congue, accumsan metus. Praesent hendrerit dignissim turpis et varius. Curabitur volutpat euismod risus, eu tincidunt libero dictum ac. Suspendisse sagittis eu erat eu imperdiet. Donec nisi risus, commodo ac quam sed, porttitor bibendum nisl. Nulla consequat ut leo ut molestie. Sed felis purus, blandit ut est at, pretium porta risus. Sed tortor urna, hendrerit id vulputate tincidunt, sollicitudin a ex. Phasellus a nisl vitae leo consequat luctus. Quisque bibendum egestas nisi, id tempus nunc cursus a.

              Praesent lorem ligula, suscipit et augue quis, auctor porta metus. In vehicula sed eros ullamcorper aliquam. Mauris vel quam sit amet leo aliquet imperdiet sed quis nisl. Curabitur pretium id risus eu sollicitudin. Donec euismod dictum est sit amet facilisis. Sed dapibus vitae velit sit amet aliquet. Etiam finibus sodales neque, at finibus mauris tempus eget. Proin faucibus elit vel nisl vehicula sagittis. Vivamus eu turpis ac odio luctus elementum. Cras nisl nunc, aliquam vel aliquam sed, fringilla egestas lacus. In viverra purus ligula, id ultricies ligula malesuada vitae. Sed dapibus eget ipsum in imperdiet. Ut hendrerit vitae turpis nec vulputate. Etiam sollicitudin ante sit amet euismod blandit. Morbi ullamcorper mattis finibus. Aliquam nulla massa, interdum eget nunc in, tristique tempor sapien.
          .col-md-4
            h2 Lorem ipsum dolor sit amet
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula sodales, egestas lectus in, mattis orci. Quisque eget dictum risus. Nulla maximus eu nunc eget malesuada. Sed in felis cursus diam commodo hendrerit eget et elit. Morbi vestibulum lacinia tristique. Ut non ultricies mauris. Etiam vel arcu venenatis, interdum ex fringilla, dictum diam. Sed ullamcorper commodo sem, quis facilisis lacus vehicula ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum elit quis mauris varius, vel egestas tellus hendrerit. Fusce hendrerit molestie vestibulum. Curabitur fringilla magna non odio condimentum consequat bibendum at elit. Etiam dapibus elit vitae ullamcorper laoreet. Praesent volutpat quam pellentesque purus facilisis efficitur.

              Maecenas erat justo, rhoncus vitae mauris eu, facilisis viverra risus. Curabitur in nisl at velit rutrum auctor. Pellentesque tempor vel nunc ac finibus. Nunc vel lacus eu ipsum faucibus rutrum. Duis commodo ullamcorper orci, a posuere dui bibendum pretium. Proin mauris nibh, sagittis nec lacinia in, rutrum quis ligula. Ut iaculis augue sed enim feugiat, vitae ullamcorper nulla ornare. Nam vitae interdum mauris. In blandit, mauris a condimentum lobortis, ipsum justo suscipit enim, in pellentesque massa tortor nec risus. Curabitur sit amet iaculis nisi, eu scelerisque diam. Etiam elit nibh, hendrerit vitae nulla non, facilisis porttitor enim. Sed ac fermentum quam. Vivamus nec tellus vitae urna lacinia congue.

              Curabitur non ipsum ultrices, accumsan risus congue, accumsan metus. Praesent hendrerit dignissim turpis et varius. Curabitur volutpat euismod risus, eu tincidunt libero dictum ac. Suspendisse sagittis eu erat eu imperdiet. Donec nisi risus, commodo ac quam sed, porttitor bibendum nisl. Nulla consequat ut leo ut molestie. Sed felis purus, blandit ut est at, pretium porta risus. Sed tortor urna, hendrerit id vulputate tincidunt, sollicitudin a ex. Phasellus a nisl vitae leo consequat luctus. Quisque bibendum egestas nisi, id tempus nunc cursus a.

              Praesent lorem ligula, suscipit et augue quis, auctor porta metus. In vehicula sed eros ullamcorper aliquam. Mauris vel quam sit amet leo aliquet imperdiet sed quis nisl. Curabitur pretium id risus eu sollicitudin. Donec euismod dictum est sit amet facilisis. Sed dapibus vitae velit sit amet aliquet. Etiam finibus sodales neque, at finibus mauris tempus eget. Proin faucibus elit vel nisl vehicula sagittis. Vivamus eu turpis ac odio luctus elementum. Cras nisl nunc, aliquam vel aliquam sed, fringilla egestas lacus. In viverra purus ligula, id ultricies ligula malesuada vitae. Sed dapibus eget ipsum in imperdiet. Ut hendrerit vitae turpis nec vulputate. Etiam sollicitudin ante sit amet euismod blandit. Morbi ullamcorper mattis finibus. Aliquam nulla massa, interdum eget nunc in, tristique tempor sapien.
          .col-md-4.custom-scroll.content__inner--fixed
            h2 Lorem ipsum dolor sit amet
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ligula sodales, egestas lectus in, mattis orci. Quisque eget dictum risus. Nulla maximus eu nunc eget malesuada. Sed in felis cursus diam commodo hendrerit eget et elit. Morbi vestibulum lacinia tristique. Ut non ultricies mauris. Etiam vel arcu venenatis, interdum ex fringilla, dictum diam. Sed ullamcorper commodo sem, quis facilisis lacus vehicula ut. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum elit quis mauris varius, vel egestas tellus hendrerit. Fusce hendrerit molestie vestibulum. Curabitur fringilla magna non odio condimentum consequat bibendum at elit. Etiam dapibus elit vitae ullamcorper laoreet. Praesent volutpat quam pellentesque purus facilisis efficitur.

              Maecenas erat justo, rhoncus vitae mauris eu, facilisis viverra risus. Curabitur in nisl at velit rutrum auctor. Pellentesque tempor vel nunc ac finibus. Nunc vel lacus eu ipsum faucibus rutrum. Duis commodo ullamcorper orci, a posuere dui bibendum pretium. Proin mauris nibh, sagittis nec lacinia in, rutrum quis ligula. Ut iaculis augue sed enim feugiat, vitae ullamcorper nulla ornare. Nam vitae interdum mauris. In blandit, mauris a condimentum lobortis, ipsum justo suscipit enim, in pellentesque massa tortor nec risus. Curabitur sit amet iaculis nisi, eu scelerisque diam. Etiam elit nibh, hendrerit vitae nulla non, facilisis porttitor enim. Sed ac fermentum quam. Vivamus nec tellus vitae urna lacinia congue.

              Curabitur non ipsum ultrices, accumsan risus congue, accumsan metus. Praesent hendrerit dignissim turpis et varius. Curabitur volutpat euismod risus, eu tincidunt libero dictum ac. Suspendisse sagittis eu erat eu imperdiet. Donec nisi risus, commodo ac quam sed, porttitor bibendum nisl. Nulla consequat ut leo ut molestie. Sed felis purus, blandit ut est at, pretium porta risus. Sed tortor urna, hendrerit id vulputate tincidunt, sollicitudin a ex. Phasellus a nisl vitae leo consequat luctus. Quisque bibendum egestas nisi, id tempus nunc cursus a.

              Praesent lorem ligula, suscipit et augue quis, auctor porta metus. In vehicula sed eros ullamcorper aliquam. Mauris vel quam sit amet leo aliquet imperdiet sed quis nisl. Curabitur pretium id risus eu sollicitudin. Donec euismod dictum est sit amet facilisis. Sed dapibus vitae velit sit amet aliquet. Etiam finibus sodales neque, at finibus mauris tempus eget. Proin faucibus elit vel nisl vehicula sagittis. Vivamus eu turpis ac odio luctus elementum. Cras nisl nunc, aliquam vel aliquam sed, fringilla egestas lacus. In viverra purus ligula, id ultricies ligula malesuada vitae. Sed dapibus eget ipsum in imperdiet. Ut hendrerit vitae turpis nec vulputate. Etiam sollicitudin ante sit amet euismod blandit. Morbi ullamcorper mattis finibus. Aliquam nulla massa, interdum eget nunc in, tristique tempor sapien.
      // Main Content End

    // Content Wrapper End

    // Header Start
    mixin footer()
    // Header End

    // Contact Modal
    mixin contactForm()

    // Conditional footer
    mixin conditionalFooter()


    script(src="js/vendor.js")
    script(src="js/main.js")
